<div class="page-hero-section bg-image hero-home-1" style="background-image: url(../assets/img/bg_hero_1.svg);">
  <div class="hero-caption pt-5">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-6 wow fadeInUp">
          <div class="badge mb-2"><span class="icon mr-1"><span class="mai-globe"></span></span> #1 en ganar plata
            mundialmente</div>
          <h1 class="mb-4">¡Hazte rico</h1>
          <p class="mb-4">usando estas dos sencillas aplicaciones!</p>
          <a (click)="mostrarRegistro()" class="btn btn-primary rounded-pill">Inscribirme ahora</a>
        </div>
      </div>
    </div>
  </div>
</div>
